<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p>Classes:</p>
    <p>Data Structures In Java</p>
    <p>Intro to Comp for Eng/App Sci:</p>
    <p>Art of Engineering</p>
    <p>1402 Physics</p>
    <p>Multivariable Calculus</p>
    <p>My favorite course at Columbia so far has been Introduction to</p>
    <p>Computer Science in Java. That course was the first computer</p>
    <p>science class I have taken and it solidified that I wanted</p>
    <p>to major in computer science.</p>
    </pre>
    </body>
</html>