<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>My name is David Barboza</p>
    <img height="300px" src="https://i.ibb.co/fCqYJBJ/David.jpg" alt="Picture of Me" align="left">
    <p>I am a rising Sophmore attending Columbia University.</p>
    <p>My intended major is Computer Science.<p>
    <a href="/interest">My Interests</a>
    <a href="/classes">My Classes</a>
    <a href="https://www.youtube.com/">My Favorite Website</a>
    </body>
</html>

