<html>
    <head>
        <!--specifies title of the page !-->
        <title>interest</title>
    <head>
    <body>
    <p>Interests:</p>
    <p>Soccer</p>
    <p>I enjoy playing soccer recreationally. I also played </p>
    <p>on an intramural team my first semester at Columbia. </p>
    <p>Music</p>
    <p>I started playing from around the age of 9. I started</p>
    <p>on bass guitar and eventually moved to guitar. I also</p>
    <p>learned drums from my brother.                       </p>
    <p>Games</p>
    <p>I like to play video games in my free time. I joined </p>
    <p>the Columbia Esports club and am currently on the    </p>
    <p>competitive Overwatch team.                          </p>
    </body>
</html>